li{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: yellow;

}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: darkred;
    color: whitesmoke;
}

